body
{
    background-color:#202956 ;    
}

.name
{
    color: rgb(157, 193, 223);
    font-size: 300%;
    text-align: center;
    margin-top: 3%;
    

}
.deg
{
    color: rgb(157, 193, 223);
    text-align: center;
    margin-top: 1%;
    font-size: 165%;
}
.template
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.about
{
    background-color: #2f4d7a;
    width: 80%;
    height: 507px;
    margin-top: 40px;
    border-radius: 16px;
    box-shadow: 10px 19px 6px #527299;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.abouttext
{
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    border: 2px solid  rgb(157, 193, 223) ;
    background-color: rgb(157, 193, 223);
    color: #202956;

 
}
.aboutcontent
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #dce4e9;
}
.image
{
    width: 42%;
    
} 
 .image>img
{
    width: 100%;
    border-radius: 20px;
}   
.content
{
    width: 49%;
    font-size: 21px;
    text-align: justify;
}
.project
{
    background-color: #2f4d7a;
    width: 80%;
    height: 430px;
    margin-top: 40px;
    border-radius: 16px;
    box-shadow: 10px 19px 6px #527299;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.projecttext
{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border: 2px solid  rgb(157, 193, 223) ;
    background-color: rgb(157, 193, 223);
    color: #202956;
    width: 150px;
    border-radius: 20px;
  
}
.projectcontent
{
    text-align: justify;
    width: 90%;

}
.projecttitle
{
    font-weight: bold;
    padding: 5px;
    text-align: center;
   color: rgb(157, 193, 223);
   text-decoration: 2px underline #b3c1d3;
}
.projectDetail
{
    font-size: 18px;
    text-align: center;
    color: #dce4e9;
}   
.education
{
    background-color: #2f4d7a;
    width: 80%;
    height: 250px;
    margin-top: 40px;
    border-radius: 16px;
    box-shadow: 10px 19px 6px #527299;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.educationtext
{
    font-size: 30px;
    font-weight: bold;
    border: 2px solid  rgb(157, 193, 223) ;
    background-color: rgb(157, 193, 223);
    color: #202956;
    border-radius: 20px;
    width: 160px;
    text-align: center;
   
   
}
.educationFIeld
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 123px;
}
.EducationContent
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #dce4e9;
}
.clg
{
    font-size: 23px;
    font-weight: bold;
    color: #7c9dce;
}
.technicalSkiils
{
    background-color: #2f4d7a;
    width: 80%;
    height: 400px;
    margin-top: 40px;
    border-radius: 16px;
    box-shadow: 10px 19px 6px #527299;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.technicalSkiilstext
{
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
    border-radius: 16px;
    text-align: center;
    border: 2px solid  rgb(157, 193, 223) ;
    background-color: rgb(157, 193, 223);
    color: #202956;
    width: 230px;
  
}
.technicalSkiilsContent
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    color: #dce4e9;
    width: 100%;
    
}
.techSpec
{
    border: 2px solid black;
    border-radius: 20px;
    border: 2px solid  rgb(157, 193, 223) ;
}
.techSpec>div
{
    padding: 20px;
}
.tech
{
    font-size: 20px;
    font-weight: bold;   
    color: #7c9dce;
}
.technicalCourse
{
    background-color: #2f4d7a;
    width: 80%;
    height: 270px;
    margin-top: 40px;
    border-radius: 16px;
    box-shadow: 10px 19px 6px #527299;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technicalCourseText
{
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
    border-radius: 16px;
    text-align: center;
    border: 2px solid  rgb(157, 193, 223) ;
    background-color: rgb(157, 193, 223);
    color: #202956;
    width: 243px;
}
.tcDesc
{
    font-size: 20px;
    text-align: center;
    padding: 25px;
    color: #dce4e9;
}   
.extraActivity
{
    background-color: #2f4d7a;
    width: 80%;
    height: 270px;
    margin-top: 40px;
    border-radius: 16px;
    box-shadow: 10px 19px 6px #527299;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.extraActivityText
{
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
    border-radius: 16px;
    text-align: center;
    border: 2px solid  rgb(157, 193, 223) ;
    background-color: rgb(157, 193, 223);
    color: #202956;
    width: 200px;
}
.extraActivityContent
{
    font-size: 20px;
    text-align: center;
    padding: 25px;
    color: #dce4e9;
}
.contact
{
    background-color: #2f4d7a;
    width: 80%;
    height: 228px;
    margin-top: 40px;
    border-radius: 16px;
    box-shadow: 10px 19px 6px #527299;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactText
{
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
    border-radius: 16px;
    text-align: center;
    border: 2px solid  rgb(157, 193, 223) ;
    background-color: rgb(157, 193, 223);
    color: #202956;
    width: 150px;
}   
.contactData
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.contactDesc
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
    height: 70px;
    justify-content: space-evenly;
    color: #dce4e9;
}    
.contactDescHead
{
    font-weight: bold;
    font-size: 20px;
    color: #7c9dce;
    text-align: center;
}
a
{
    color: #dce4e9;
    text-decoration: #dce4e9;
}
a:hover
{
    color: #d9df89;
}   
@media only screen and (min-width: 805px ) and (max-width:1345px)
{
    .about
    {
        height: 361px;
    }
}

@media only screen and (max-width: 805px)
{
    .aboutcontent
    {
        height: 600px;
        flex-direction: column;
        justify-content: space-around;
        
    }
    .about
    {
        height: 650px;
    }
    .image
    {
        width: 95%;
        padding: 9px;
    }
    .content
    {
        width: 95%;
        padding: 9px;
    }
    .project
    {
        height: 500px;
    }
    .technicalSkiils
    {
        height: 765px;
    }
    .technicalSkiilsContent
    {
        height: 649px;
    }
    .technicalCourse
    {
        height: 329px;
    }
    .extraActivity
    {
        height: 395px;
    }
    .contact
    {
        height: 326px;
    }
    .contactData
    {
        flex-direction: column;
        align-items: center;
    }
    @media only screen and (min-width: 570px ) and ( max-width:805px)
    {
       

        .technicalSkiilsContent
        {
            height: 434px;
            align-content: space-around;
        }
        .technicalSkiils
        {
            height: 549px;
        }
    }
    @media only screen and (max-width: 570px )
    {
        .technicalSkiils
        {
            height: 555px;
        }
        .technicalSkiilsContent
        {
            align-content: space-around;
        }
    }

    
    


}